$brand-color: #FCA8BA /*#e4871c*/;
$brand-color-2: #f95377 /*#e371f6*/;
$default-hero-image: "/images/hero-images/pink-zebra-stripes.JPG";
// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
