/* FONTS */
@font-face {font-family: 'BebasNeue';src: url('fonts/bebas-neue/35C140_0_0.eot');src: url('fonts/bebas-neue/35C140_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/bebas-neue/35C140_0_0.woff2') format('woff2'),url('fonts/bebas-neue/35C140_0_0.woff') format('woff'),url('fonts/bebas-neue/35C140_0_0.ttf') format('truetype'),url('fonts/bebas-neue/35C140_0_0.svg#wf') format('svg');}
@font-face {
    font-family: 'DejaVuSans';
    src: url('fonts/dejavu-sans/DejaVuSans-webfont.eot');
    src: url('fonts/dejavu-sans/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejavu-sans/DejaVuSans-webfont.woff2') format('woff2'),
         url('fonts/dejavu-sans/DejaVuSans-webfont.woff') format('woff'),
         url('fonts/dejavu-sans/DejaVuSans-webfont.ttf') format('truetype'),
         url('fonts/dejavu-sans/DejaVuSans-webfont.svg#dejavu_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
