---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %} text-container">
<img class="post-image" src="{{ page.image }}">	
<h3>{{ page.title }}</h3>
<span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
{{ content }}
          <div id="post-widget">
<span>Posted in <a href="/blog/category/{{ page.categories[0] | slugify }}" title="View all posts in the {{ page.categories[0] | capitalize }} category">{{ page.categories[0] | capitalize }}</a> by Fleur.</span>
                        <span>
                            {% if page.tags.size > 1 %}
                            Tags:
                            
                            {% for tag in page.tags %}
                            <a href="/blog/tag/{{ tag }}/">{{ tag | capitalize }}</a> / 
                            {% endfor %}
{% endif %} 
                            </span>
                        <span>Subscribe <a href="{{ 'feed.xml' | relative_url }}" title="Subscribe via RSS">via RSS</a></span>
                        <span>Share: 
                            <a class="social-share-icon" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share article via Facebook" rel="nofollow" target="_blank">{% include social-icon.html icon="Facebook" %}<!--Facebook--></a>
                            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter.username }}&related={{ site.twitter_username }}" title="Share article via Twitter" rel="nofollow" target="_blank">{% include social-icon.html icon="Twitter" %}<!--Twitter--></a>
  		
                            <a href="mailto:?subject=Sharing: {{ page.title }}&body=I wanted to share this article with you from {{ site.url }}{{ page.url }}%0D%0A%0D%0A{{ page.title}}%0D%0A%0D%0A{{ page.description }}" title="Share article via Email" rel="nofollow" target="_blank">{% include social-icon.html icon="Email" %}<!--Email--></a>
                        </span>
                    </div>
		</div>
	</section>
</div>
